/****************BackGround PART*********************/

/****************Body*********************/
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather' , serif;
}
h1{
  font-size: 5.0rem;
  margin-top: 0;
  position: relative;
  top: 50px;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;
  line-height: 3;
}
h2{
  font-family: 'KoHo',sans-serif;
  color: #2978b5;
  padding-bottom: 10px;
}
h3{
  font-size: 1.4rem;
  font-family: 'KoHo',sans-serif;
  color: #2978b5;
}
hr{
  border: dotted #66BFBF 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p{
  position: relative;
  top: -50px;
  line-height: 2;
}
a{
  color : #393e46;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.a1{
  color:#2978b5;
  font-weight: bold;
}
a1:hover{
  color: #66BFBF;
}
.Pro{
  font-size: 2.0rem;
  color: #66BFBF;
  font-weight: normal;
}
.SetPara{
 top : 0 ;
 width: 30%;
 margin: auto;
}
.SetPara2{
 top : 0 ;
}
.SetPara1{
 top : 0 ;
}
.footer-link{
  color: #2978b5;
}

.mountain-center{
  position: relative;
  height: 380px;
  top: -90px;
}
.TopContainer{
   background-color: #2978b5;
   height: 680px;
}
.middle-container{
  margin: 100px auto;
}

.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
}

.Skillsimage1{
  width: 25%;
  float: left;
  margin-right: 25px;
}

.SkImage{
  width: 30%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.bottom-cloud{
  position: absolute;
  bottom: 450px;
  left: 260px;
}
.top-cloud{
  position: absolute;
  right : 300px;
  top: 40px;
}
.END{
  top : 10px;
  color : #EAF6F6;
  font-size: 0.90rem;
  padding: 20px 0;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: 'KoHo',sans-serif;
   font-size: 20px;
   font-weight: bold;
   padding: 20px;
   text-shadow: 11px 1px 20px #000000;
   border: solid #0059A0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
